@* https://codepen.io/timothylong/pen/HhAer/ *@
@* https://www.w3schools.com/howto/howto_css_contact_form.asp *@
@* https://www.w3schools.com/howto/howto_css_stacked_form.asp *@

    <div id="open-modal-errands" class="modal-window" style="z-index: 1001;">
        <input type="hidden" id="actorId" />
        <input type="hidden" id="actorType" />
        <div>
            <a href="#" title="Close" class="modal-close">Close (esc)</a>

            <form id="createActorErrandsModal">
                <div id="createActorModalFormValidationSummary" style="display:none;">
                    <ul style="color:red;list-style: none;"></ul>
                </div>
                <div>
                    <label class="fileContainer">
                        <img src="" id="actorImageErrands" height="200" width="200" alt="Image preview..." style="border-radius: 50%; display:none;">
                    </label>
                </div>

                <div>
                    Select some errands to perform!
                </div>
                <br />
                <div>
                    <div>
                        <div class="pretty p-icon p-round p-jelly">
                            @Html.CheckBox("bake_some_cookies", new { value = (int)RedVentures.Bot_O_Mat.Web.DTOs.Enums.ErrandType.bake_some_cookies })
                            <div class="state p-primary">
                                <i class="icon mdi mdi-check"></i>
                                <label>Bake Cookies!</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="pretty p-icon p-round p-jelly">
                            @Html.CheckBox("do_the_dishes", new { value = (int)RedVentures.Bot_O_Mat.Web.DTOs.Enums.ErrandType.do_the_dishes })
                            <div class="state p-primary">
                                <i class="icon mdi mdi-check"></i>
                                <label>Do the Dishes!</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="pretty p-icon p-round p-jelly">
                            @Html.CheckBox("do_the_laundry", new { value = (int)RedVentures.Bot_O_Mat.Web.DTOs.Enums.ErrandType.do_the_laundry })
                            <div class="state p-primary">
                                <i class="icon mdi mdi-check"></i>
                                <label>Do the Laundry!</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="pretty p-icon p-round p-jelly">
                            @Html.CheckBox("give_the_dog_a_bath", new { value = (int)RedVentures.Bot_O_Mat.Web.DTOs.Enums.ErrandType.give_the_dog_a_bath })
                            <div class="state p-primary">
                                <i class="icon mdi mdi-check"></i>
                                <label>Give the Dog a Bath!</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="pretty p-icon p-round p-jelly">
                            @Html.CheckBox("make_a_sammich", new { value = (int)RedVentures.Bot_O_Mat.Web.DTOs.Enums.ErrandType.make_a_sammich })
                            <div class="state p-primary">
                                <i class="icon mdi mdi-check"></i>
                                <label>Make a Sammich!</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="pretty p-icon p-round p-jelly">
                            @Html.CheckBox("mow_the_lawn", new { value = (int)RedVentures.Bot_O_Mat.Web.DTOs.Enums.ErrandType.mow_the_lawn })
                            <div class="state p-primary">
                                <i class="icon mdi mdi-check"></i>
                                <label>Mow the Lawn!</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="pretty p-icon p-round p-jelly">
                            @Html.CheckBox("rake_the_leaves", new { value = (int)RedVentures.Bot_O_Mat.Web.DTOs.Enums.ErrandType.rake_the_leaves })
                            <div class="state p-primary">
                                <i class="icon mdi mdi-check"></i>
                                <label>Rake the Leaves!</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="pretty p-icon p-round p-jelly">
                            @Html.CheckBox("sweep_the_house", new { value = (int)RedVentures.Bot_O_Mat.Web.DTOs.Enums.ErrandType.sweep_the_house })
                            <div class="state p-primary">
                                <i class="icon mdi mdi-check"></i>
                                <label>Sweep the House!</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="pretty p-icon p-round p-jelly">
                            @Html.CheckBox("take_out_the_recycling", new { value = (int)RedVentures.Bot_O_Mat.Web.DTOs.Enums.ErrandType.take_out_the_recycling })
                            <div class="state p-primary">
                                <i class="icon mdi mdi-check"></i>
                                <label>Take Out the Recycling!</label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div class="pretty p-icon p-round p-jelly">
                            @Html.CheckBox("wash_the_car", new { value = (int)RedVentures.Bot_O_Mat.Web.DTOs.Enums.ErrandType.wash_the_car })
                            <div class="state p-primary">
                                <i class="icon mdi mdi-check"></i>
                                <label>Wash the Car!</label>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="CTAErrandSubmit" class="CTASubmit">Run Errands</button>
            </form>
            <script>
                $(document).ready(lib.views.index.createActorModal.eventListeners);
            </script>
        </div>
    </div>

<style>
    /* Style inputs */
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Style the submit button */
    .CTASubmit {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        /* Add a background color to the submit button on mouse-over */
        .CTASubmit:hover {
            background-color: #45a049;
        }

    /* Add a hover effect for buttons */
    button:hover {
        opacity: 0.8;
    }

    /* Center the avatar image inside this container */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    /* Avatar image */
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    /* Add padding to containers */
    .container-modal {
        padding: 16px;
    }

    /* The "Forgot password" text */
    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @@media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }

        .cancelbtn {
            width: 100%;
        }
    }

    .modal-window {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
    }

        .modal-window:target {
            opacity: 1;
            pointer-events: auto;
        }

        .modal-window > div {
            width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            padding: 2em;
            background: #ffffff;
            color: #333333;
        }

        .modal-window header {
            font-weight: bold;
        }

        .modal-window h1 {
            font-size: 150%;
            margin: 0 0 15px;
            color: #333333;
        }

    .modal-close {
        color: #aaa;
        line-height: 50px;
        font-size: 80%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
    }

        .modal-close:hover {
            color: #000;
        }
</style>